html {
    overflow-x: hidden;
    min-height: 100%;
    height: 1px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
