@import "../variables";

.btn {
    border-radius: 5px;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    outline: none !important;
    background: #d2d2d2;
    transition: background 0.2s ease-in;

    &:hover {
        background: darken(#d2d2d2, 10%);
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    &.btn_primary {
        background: darken($primary, 10%);
        color: $dark;

        &:hover {
            background: darken($primary, 30%);
        }
    }

    &.btn_dark {
        background: $dark;
        color: $primary;

        &:hover {
            background: lighten($dark, 10%);
        }
    }

    &.btn_link {
        background: none;
        padding: 0;
        color: $primary;
    }
}

.btn-close {
    background: none;
    border: none;
    color: red;
    opacity: 0.5;
    font-size: 24px;
    font-family: Arial, sans-serif;

    &:hover {
        opacity: 1;
    }
}
