@import "../variables";

.input {
  margin-bottom: 1rem;
  width: 100%;
  input, textarea, select {
    width: 100%;
    color: $dark;
    background: rgb(211, 211, 211);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 3px 15px;
    box-sizing: border-box;

    &::placeholder {
      font-weight: bold;
      text-align: center;
    }
  }
}

.input-cb {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 3px 0;

  label {
    margin-bottom: 0;
  }

  input:disabled + label {
    opacity: 0.5;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;

    & ~ label {
      cursor: pointer;
      padding-left: 35px;
      align-items: center;

      &::before {
        content: "";
        flex-shrink: 0;
        color: inherit;
        border: none !important;
        box-shadow: none !important;
        align-items: center;
        font-size: 25px;
        line-height: 1;
        transition: transform 0.1s ease-in;
        border-radius: 0;
        background: #00000030;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25px;
        height: 25px;
        font-weight: 900;
        text-align: center;
        position: absolute;
        margin: auto;
      }

      &::after {
        content: none !important;
      }

    }

    &:checked ~ label::before {
      content: "✓";
    }

    &:active ~ label::before {
      transform: scale(0.8);
    }
  }
}
