@import "../variables";

.p-index {
    .p-index__entry {
        background: url('/images/fitness-club.jpg');
        background-size: cover;
        background-position: center;

        h1 {
            text-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
        }

        @include respond-to(sm) {
            h1 {
                font-size: 42px !important;
            }

            h2 {
                font-size: 24px !important;
            }
        }

    }

    .p-index__gym {
        background: url('/images/gym.jpg');
        background-attachment: fixed;
        background-size: cover;
        color: white;
        background-position: bottom;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        margin-bottom: -150px;
        padding-bottom: 100px;
        z-index: 3;
        position: relative;
        text-shadow: 1px 1px 1px black;

        ul {
            text-align: left;

            li {
                margin-bottom: 15px;
            }
        }
    }

    .p-index__flexible-prices {
        background: url('/images/flexible-prices.jpg');
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        padding: 200px 0;
        margin-bottom: -200px;
        z-index: 2;
        position: relative;
    }

    .p-index__trainers {
        background: url('/images/trainers.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        color: white;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        padding: 200px 0;
        margin-bottom: -200px;
        text-shadow: 1px 1px 1px black;
    }

    .p-index__service {
        background: url('/images/service.jpg');
        background-size: cover;
        background-position: bottom;
        padding: 200px 0;

        ul {
            padding-left: 0;
            font-size: 14px;
            line-height: 1.2;

            li {
                margin-bottom: 15px;

                h5 {
                    margin-bottom: 0;
                }
            }
        }
    }

    .p-index__les-mills {
        background: url('/images/les-mills.jpg') no-repeat center left 25%;
        background-color: #000000;
        color: white;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
        padding: 200px 0;
        margin: -200px 0 0 0;
        text-shadow: 1px 1px 1px black;
        position: relative;
        overflow: visible;

        .les-mills__activity {
            width: 50%;
            padding: 20px;
            font-size: 14px;
            line-height: 20px;

            .activity__label {
                font-size: 18px;
                font-weight: bold;
            }

            &:nth-child(odd) {
                margin-left: -20px;
            }

            @include respond-to(sm) {
                width: 100%;
                margin-bottom: 10px;
                padding: 0;
                &:nth-child(odd) {
                    margin-left: 0;
                }
            }
        }

        .les-mills__button {
            width: 50%;
            justify-self: center;
            @include respond-to(sm) {
                width: 100%;
            }
        }
    }

    .p-index__children-activities {

        background-color: #000000;
        color: #ffffff;
        padding: 0 0 200px 0;

        .children-activities__fighters {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            position: relative;

            &::before {
                position: absolute;
                left: -70%;
                content: '';
                width: 100%;
                height: 120%;
                background: url("/images/children-fights.jpg") no-repeat;
                background-size: contain;
                @include respond-to(md) {
                    display: none;
                }
            }
        }

        .children-activities__programs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            position: relative;

            &::before {
                position: absolute;
                right: -90%;
                content: '';
                width: 100%;
                height: 120%;
                background: url("/images/children-programs.jpg") no-repeat;
                background-size: contain;
                @include respond-to(md) {
                    display: none;
                }
            }
        }

        .children-activities__card {
            width: 45%;
            border: 1px solid $primary;
            position: relative;
            padding: 30px;
            margin-top: 30px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #000000bd;

            @include respond-to(sm) {
                width: 100%;
            }

            @include respond-to(lg) {
                font-size: 16px;
                line-height: 20px;
            }

            .card__label {
                font-size: 30px;
                font-weight: bold;
                position: absolute;
                top: -15px;
                margin: 0 auto;

                left: 0;
                right: 0;
                width: fit-content;
                text-shadow: -0   -5px 0 #000000,
                0   -5px 0 #000000,
                -0 5px 0 #000000,
                0 5px 0 #000000,
                -5px -0 0 #000000,
                5px -0 0 #000000,
                -5px 0 0 #000000,
                5px 0 0 #000000,
                -1px -5px 0 #000000,
                1px -5px 0 #000000,
                -1px 5px 0 #000000,
                1px 5px 0 #000000,
                -5px -1px 0 #000000,
                5px -1px 0 #000000,
                -5px 1px 0 #000000,
                5px 1px 0 #000000,
                -2px -5px 0 #000000,
                2px -5px 0 #000000,
                -2px 5px 0 #000000,
                2px 5px 0 #000000,
                -5px -2px 0 #000000,
                5px -2px 0 #000000,
                -5px 2px 0 #000000,
                5px 2px 0 #000000,
                -3px -5px 0 #000000,
                3px -5px 0 #000000,
                -3px 5px 0 #000000,
                3px 5px 0 #000000,
                -5px -3px 0 #000000,
                5px -3px 0 #000000,
                -5px 3px 0 #000000,
                5px 3px 0 #000000,
                -4px -5px 0 #000000,
                4px -5px 0 #000000,
                -4px 5px 0 #000000,
                4px 5px 0 #000000,
                -5px -4px 0 #000000,
                5px -4px 0 #000000,
                -5px 4px 0 #000000,
                5px 4px 0 #000000,
                -5px -5px 0 #000000,
                5px -5px 0 #000000,
                -5px 5px 0 #000000,
                5px 5px 0 #000000,
                -5px -5px 0 #000000,
                5px -5px 0 #000000,
                -5px 5px 0 #000000,
                5px 5px 0 #000000;
            }
        }

        .children-activities__card-age {
            position: absolute;
            bottom: 0;
            font-size: 14px;
            color: #46ff36;
        }
    }

    .p-index__gallery {
        background: black;
        color: white;
    }
}
