<template>
    <div class="sidebar-page" id="app">
        <aside class="sidebar">
            <div class="sidebar__header">Панель управления</div>
            <ul>
                <li>
                    <router-link to="/admin/trainings">
                        Занятия
                    </router-link>
                </li>
                <li>
                    <router-link to="/admin/groups">
                        Группы
                    </router-link>
                </li>
                <li>
                    <router-link to="/admin/promos">
                        Акции
                    </router-link>
                </li>
                <li>
                    <router-link to="/admin/products">
                        Товары
                    </router-link>
                </li>
                <li>
                    <router-link to="/admin/trainers">
                        Тренеры
                    </router-link>
                </li>
                <li>
                    <router-link to="/admin/gallery">
                        Галерея
                    </router-link>
                </li>
            </ul>
        </aside>
        <div class="sidebar-page__content">
            <router-view/>
        </div>
    </div>
</template>

<script>
export default {
    name: "TheApp"
}
</script>

<style scoped>

</style>
