<template>
    <div>
        <div class="h3">Группы</div>
        <table class="table table-hover">
            <thead>
            <tr class="font-weight-bold">
                <td>Название</td>
                <td>Занятия</td>
                <td style="width: 1%"></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in d_items">
                <td>{{ item.name }}</td>
                <td>
                    <div v-for="training in item.trainings">
                        {{ training.name }}
                    </div>
                </td>
                <td>
                    <router-link class="btn btn_link text-dark"
                                 :to="{name:'groups.edit', params:{groupId:item.id}}"
                    >✎
                    </router-link>
                </td>
            </tr>
            </tbody>
        </table>
        <loading-component class="mb-3" v-if="d_loading.items === 1" />
        <router-link class="btn btn_dark"
                     :to="{name:'groups.create'}">Создать группу
        </router-link>
        <intersection-observer @observe="fetch"
                               v-if="this.d_canLoadMore"
        />
    </div>
</template>

<script>
import LoadingComponent from '../utils/LoadingComponent';
import { groups } from '../../../api/admin';
import IntersectionObserver from '../utils/IntersectionObserver';

export default {
    name: 'TheGroups',
    components: { IntersectionObserver, LoadingComponent },
    data() {
        return {
            d_loading: {
                items: null,
            },
            d_items: [],
            d_itemsPerPage: 10,
            d_canLoadMore: true,
        }
    },
    methods: {
        fetch() {
            this.d_loading.items = 1;
            groups.fetch({
                with: ['trainings'],
                offset: this.d_items.length,
                limit: this.d_itemsPerPage,
            }).then(response => {
                this.d_items = this.d_items.concat(response);
                this.d_canLoadMore = !(response.length < this.d_itemsPerPage);
                this.d_loading.items = 0;
            });
        },
    },
}
</script>

<style scoped
       lang="scss">

</style>
