<template>
    <div>
        <div class="h3">Галерея</div>
        <div class="gallery-items"
             v-if="d_items.length">
            <div class="gallery-items_item"
                 v-for="(item, idx) in d_items"
            >
                <attach-area-component class="mb-0"
                                       v-model="item.image"
                                       label="Изображение"
                />
                <div>
                    <div class="input">
                        <label>Название</label>
                        <input type="text"
                               v-model="item.title">
                    </div>
                    <span role="button"
                          class="text-danger small"
                          @click="d_items.splice(idx, 1)"
                    >Удалить
                        </span>
                </div>
            </div>
        </div>
        <p v-else>Список пуст</p>
        <button class="btn btn_dark"
                @click="addItem"
        >Добавить элемент
        </button>

        <loading-component class="mb-3" v-if="d_loading.items" />
        <div class="mt-3">
            <loading-component v-if="d_loading.store" />
            <button class="btn btn_primary"
                    v-else
                    @click="sync"
            >Сохранить
            </button>
        </div>
        <intersection-observer @observe="fetch"
                               v-if="this.d_canLoadMore"
        />
    </div>
</template>

<script>
import LoadingComponent from '../utils/LoadingComponent';
import { galleryItems } from '../../../api/admin';
import IntersectionObserver from '../utils/IntersectionObserver';
import AttachAreaComponent from '../utils/attachment/AttachAreaComponent';

export default {
    name: 'TheGallery',
    components: { AttachAreaComponent, IntersectionObserver, LoadingComponent },
    data() {
        return {
            d_loading: {
                items: false,
                store: false,
            },
            d_items: [],
            d_itemsPerPage: 10,
            d_canLoadMore: true,
        }
    },
    methods: {
        fetch() {
            this.d_loading.items = 1;
            galleryItems.fetch({
                offset: this.d_items.length,
                limit: this.d_itemsPerPage,
                order_by: 'id:desc',
            }).then(response => {
                this.d_items = this.d_items.concat(response);
                this.d_canLoadMore = !(response.length < this.d_itemsPerPage);
                this.d_loading.items = 0;
            });
        },
        addItem() {
            this.d_items.push({
                image: null,
                title: null,
            });
        },
        prepareData() {
            return this.d_items.map(item => {
                return item.image ? {
                    title: item.title,
                    image_id: item.image.id,
                } : null;
            }).filter(item => item);
        },
        async sync() {
            this.d_loading.store = true;
            await galleryItems.sync({
                items: this.prepareData(),
            });
            this.d_loading.store = false;
        },
    },
}
</script>

<style scoped
       lang="scss">
.gallery-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
}

.gallery-items_item {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 30px;
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
</style>
