<template>
    <div>
        <div class="h3">Редактор групп</div>
        <loading-component v-if="d_loading.model === LoadingStatus.Loading"/>
        <form class="w-100" v-else
              @submit.prevent="submit">
            <div class="text-right mb-3"
                 v-if="d_model.id">
                <button type="button" class="btn btn_link text-danger"
                        @click="handleDeleteBtn">Удалить акцию
                </button>
            </div>
            <div class="input">
                <label for="name">Название группы</label>
                <input type="text" id="name" required
                       v-model="d_model.name"/>
            </div>
            <div class="mb-4">
                <div class="mb-3 d-flex align-items-end"
                     v-for="(training,index) in d_model.trainings">
                    <training-finder class="w-100"
                                     v-model="d_model.trainings[index]"></training-finder>
                    <button class="btn-close" type="button"
                            @click="d_model.trainings.splice(index,1)"
                    >&times;
                    </button>
                </div>
                <button class="btn btn_link" type="button"
                        @click="d_model.trainings.push(null)"
                >Добавить занятие
                </button>
            </div>
            <request-errors :errors="d_errors"></request-errors>
            <loading-component v-if="d_loading.model === LoadingStatus.Submitting"/>
            <button class="btn btn_dark" type="submit" v-else-if="d_model.id">Применить изменения</button>
            <button class="btn btn_dark" type="submit" v-else>Создать</button>
        </form>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import IntersectionObserver from "../utils/IntersectionObserver";
    import VWysiwyg from "../utils/v-wysiwyg/VWysiwyg";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import {groups} from "../../../api/admin";
    import TrainingFinder from "../utils/TrainingFinder";

    export default {
        name: "TheGroupEditor",
        components: {
            TrainingFinder,
            RequestErrors,  VWysiwyg, IntersectionObserver, LoadingComponent
        },
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    model: null
                },
                d_model: {
                    id: this.$route.params.groupId,
                    name: null,
                    trainings: [],
                },
                d_errors: null
            }
        },
        created() {
            if (this.d_model.id) {
                this.d_loading.model = LoadingStatus.Loading;
                groups.get(this.d_model.id, {
                    with: ['trainings'],
                }).then(response => {
                    this.$set(this, 'd_model', response);
                    this.d_loading.model = LoadingStatus.LoadingSuccess;
                });
            }
        },
        methods: {
            packRequest() {
                let trainingIds = this.d_model.trainings.filter(item => item).map(item => item.id);
                return {
                    name: this.d_model.name,
                    training_ids: trainingIds
                }
            },
            submit() {
                if (this.d_model.id) {
                    this.update();
                } else {
                    this.store();
                }
            },
            store() {
                this.d_loading.model = LoadingStatus.Submitting;
                groups.store(this.packRequest())
                    .then(response => {
                        this.d_loading.model = LoadingStatus.SubmittingSuccess;
                        this.$router.push({name: 'groups'});
                    })
                    .catch(errors => {
                        this.d_loading.model = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            },
            update() {
                this.d_loading.model = LoadingStatus.Submitting;
                groups.update(this.d_model.id, this.packRequest())
                    .then(response => {
                        this.d_loading.model = LoadingStatus.SubmittingSuccess;
                        this.$router.push({name: 'groups'});
                    })
                    .catch(errors => {
                        this.d_loading.model = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            },
            handleDeleteBtn() {
                let confirm = window.confirm('Вы уверены? Это действие невозможно отменить...');
                if (confirm) {
                    this.d_loading.model = LoadingStatus.Submitting;
                    groups.destroy(this.d_model.id)
                        .then(res => {
                                this.$router.push({name: 'groups'});
                            }
                        );
                }
            },
        }
    }
</script>

<style scoped lang="scss">

</style>
