<template>
    <div>
        <div class="h3">Редактор акций</div>
        <loading-component v-if="d_loading.model === LoadingStatus.Loading"></loading-component>
        <form class="w-100" v-else
              @submit.prevent="submit">
            <div class="text-right mb-3"
                 v-if="d_model.id">
                <button type="button" class="btn btn_link text-danger"
                        @click="handleDeleteBtn">Удалить акцию
                </button>
            </div>
            <div class="input">
                <label for="name">Названии акции</label>
                <input type="text" id="name" required
                       v-model="d_model.name"/>
            </div>
            <div class="input-cb">
                <input type="checkbox" id="disabled" v-model="d_model.disabled"/>
                <label for="disabled">Заблокирована</label>
            </div>
            <v-wysiwyg class="mb-3" v-model="d_model.description"></v-wysiwyg>
            <attach-area-component class="w-100"
                                   label="Выберите изображение для акции"
                                   v-model="d_model.image"/>
            <request-errors :errors="d_errors"></request-errors>
            <loading-component v-if="d_loading.model === LoadingStatus.Submitting"/>
            <button class="btn btn_dark" type="submit" v-else-if="d_model.id">Применить изменения</button>
            <button class="btn btn_dark" type="submit" v-else>Создать</button>
        </form>
    </div>
</template>

<script>
import LoadingComponent from "../utils/LoadingComponent";
import {promos} from "../../../api/admin";
import IntersectionObserver from "../utils/IntersectionObserver";
import VWysiwyg from "../utils/v-wysiwyg/VWysiwyg";
import RequestErrors from "../utils/RequestErrors";
import LoadingStatus from "../../../utils/LoadingStatus";
import AttachAreaComponent from "../utils/attachment/AttachAreaComponent";

export default {
    name: "ThePromoEditor",
    components: {RequestErrors, AttachAreaComponent, VWysiwyg, IntersectionObserver, LoadingComponent},
    data() {
        return {
            LoadingStatus: LoadingStatus,
            d_loading: {
                model: null
            },
            d_model: {
                id: this.$route.params.promoId,
                name: null,
                description: null,
                image: null,
                disabled: false,
            },
            d_errors: null
        }
    },
    created() {
        if (this.d_model.id) {
            this.d_loading.model = LoadingStatus.Loading;
            promos.get(this.d_model.id, {
                with: ["image"],
            }).then(response => {
                this.$set(this, "d_model", response);
                this.d_loading.model = LoadingStatus.LoadingSuccess;
            });
        }
    },
    methods: {
        packRequest() {
            return {
                name: this.d_model.name,
                description: this.d_model.description,
                disabled: this.d_model.disabled,
                image_id: this.d_model.image ? this.d_model.image.id : null
            }
        },
        submit() {
            if (this.d_model.id) {
                this.update();
            } else {
                this.store();
            }
        },
        store() {
            this.d_loading.model = LoadingStatus.Submitting;
            promos.store(this.packRequest())
                .then(response => {
                    this.d_loading.model = LoadingStatus.SubmittingSuccess;
                    this.$router.push({name: "promos"});
                })
                .catch(errors => {
                    this.d_loading.model = LoadingStatus.SubmittingError;
                    this.d_errors = errors.data;
                });
        },
        update() {
            this.d_loading.model = LoadingStatus.Submitting;
            promos.update(this.d_model.id, this.packRequest())
                .then(response => {
                    this.d_loading.model = LoadingStatus.SubmittingSuccess;
                    this.$router.push({name: "promos"});
                })
                .catch(errors => {
                    this.d_loading.model = LoadingStatus.SubmittingError;
                    this.d_errors = errors.data;
                });
        },
        handleDeleteBtn() {
            let confirm = window.confirm("Вы уверены? Это действие невозможно отменить...");
            if (confirm) {
                this.d_loading.model = LoadingStatus.Submitting;
                promos.destroy(this.d_model.id)
                    .then(res => {
                            this.$router.push({name: "promos"});
                        }
                    );
            }
        },
    }
}
</script>

<style scoped lang="scss">

</style>
