<template>
    <div>
        <div class="h3">
            Редактор занятий
        </div>
        <loading-component v-if="d_loading.model === LoadingStatus.Loading"></loading-component>
        <template v-else>
            <div class="tabs mb-4">
                <a href="#info" class="tabs__item"
                   :class="{active:$route.hash !== '#schedule'}"
                >Общая информация</a>
                <a href="#schedule" class="tabs__item"
                   :class="{active:$route.hash === '#schedule'}"
                >Расписание</a>
            </div>
            <form class="w-100"
                  @submit.prevent="submit">
                <template
                    v-if="$route.hash !== '#schedule'"
                >
                    <div class="text-right mb-3"
                         v-if="d_model.id">
                        <button type="button" class="btn btn_link text-danger"
                                @click="handleDeleteBtn">Удалить занятие
                        </button>
                    </div>
                    <div class="input">
                        <label for="name">Название занятия</label>
                        <input type="text" id="name" required
                               v-model="d_model.name"/>
                    </div>
                    <v-wysiwyg class="mb-3" v-model="d_model.description"/>
                    <attach-area-component class="w-100"
                                           label="Выберите изображение"
                                           v-model="d_model.image"/>
                </template>

                <training-schedule-editor v-else
                                          :training="d_model"
                />

                <request-errors :errors="d_errors"/>
                <loading-component v-if="d_loading.model === LoadingStatus.Submitting"/>
                <button class="btn btn_dark" type="submit" v-else-if="d_model.id">Применить изменения</button>
                <button class="btn btn_dark" type="submit" v-else>Создать</button>
            </form>
        </template>
    </div>
</template>

<script>
import LoadingComponent from "../utils/LoadingComponent";
import {trainings} from "../../../api/admin";
import IntersectionObserver from "../utils/IntersectionObserver";
import VWysiwyg from "../utils/v-wysiwyg/VWysiwyg";
import RequestErrors from "../utils/RequestErrors";
import LoadingStatus from "../../../utils/LoadingStatus";
import TrainingScheduleEditor from "./TrainingScheduleEditor";
import AttachAreaComponent from "../utils/attachment/AttachAreaComponent";

export default {
    name: "TheTrainingEditor",
    components: {
        TrainingScheduleEditor,
        RequestErrors, AttachAreaComponent, VWysiwyg, IntersectionObserver, LoadingComponent
    },
    data() {
        return {
            LoadingStatus: LoadingStatus,
            d_loading: {
                model: null
            },
            d_model: {
                id: this.$route.params.trainingId,
                name: null,
                price: null,
                description: null,
                image: null,
                schedules: [],
            },
            d_errors: null
        }
    },
    created() {
        if (this.d_model.id) {
            this.d_loading.model = LoadingStatus.Loading;
            trainings.get(this.d_model.id, {
                with: ["image", "schedules"],
            }).then(response => {
                this.$set(this, "d_model", response);
                this.d_loading.model = LoadingStatus.LoadingSuccess;
            });
        }
    },
    methods: {
        packRequest() {
            let schedules = this.d_model.schedules.map(item => {
                return {
                    training_id: item.trainingId,
                    location: item.location,
                    trainer_id: item.trainerId,
                    trainer: item.trainer,
                    day: item.day,
                    date: item.date,
                    open_time: item.openTime,
                    close_time: item.closeTime,
                }
            });

            return {
                name: this.d_model.name,
                description: this.d_model.description,
                schedules: schedules,
                image_id: this.d_model.image ? this.d_model.image.id : null
            }
        },
        submit() {
            if (this.d_model.id) {
                this.update();
            } else {
                this.store();
            }
        },
        store() {
            this.d_loading.model = LoadingStatus.Submitting;
            trainings.store(this.packRequest())
                .then(response => {
                    this.d_loading.model = LoadingStatus.SubmittingSuccess;
                    this.$router.push({name: "trainings"});
                })
                .catch(errors => {
                    this.d_loading.model = LoadingStatus.SubmittingError;
                    this.d_errors = errors.data;
                });
        },
        update() {
            this.d_loading.model = LoadingStatus.Submitting;
            trainings.update(this.d_model.id, this.packRequest())
                .then(response => {
                    this.d_loading.model = LoadingStatus.SubmittingSuccess;
                    this.$router.push({name: "trainings"});
                })
                .catch(errors => {
                    this.d_loading.model = LoadingStatus.SubmittingError;
                    this.d_errors = errors.data;
                });
        },
        handleDeleteBtn() {
            let confirm = window.confirm("Вы уверены? Это действие невозможно отменить...");
            if (confirm) {
                this.d_loading.model = LoadingStatus.Submitting;
                trainings.destroy(this.d_model.id)
                    .then(res => {
                            this.$router.push({name: "trainings"});
                        }
                    );
            }
        },
    }
}
</script>

<style scoped lang="scss">

</style>
