<template>
    <div>
        <div class="h3">Занятия</div>
        <div class="d-flex align-items-center mb-3"
             v-for="item in d_items">
            <attachment class="mr-3"
                        :attachment="item.image" />
            <div>
                <div class="font-weight-bold">{{ item.name }}</div>
                <div class="small">Создано {{ item.createdAt|f_datetime }}</div>
                <div>
                    <router-link class="btn btn_link"
                                 :to="{name:'trainings.edit', params:{trainingId:item.id}}"
                    >Редактировать
                    </router-link>
                </div>
            </div>
        </div>
        <loading-component class="mb-3" v-if="d_loading.items === 1" />
        <router-link class="btn btn_dark"
                     :to="{name:'trainings.create'}">Создать занятие
        </router-link>
        <intersection-observer @observe="fetch"
                               v-if="this.d_canLoadMore"
        />
    </div>
</template>

<script>
import LoadingComponent from '../utils/LoadingComponent';
import { trainings } from '../../../api/admin';
import IntersectionObserver from '../utils/IntersectionObserver';
import Attachment from '../utils/attachment/Attachment';

export default {
    name: 'TheTrainings',
    components: { Attachment, IntersectionObserver, LoadingComponent },
    data() {
        return {
            d_loading: {
                items: null,
            },
            d_items: [],
            d_itemsPerPage: 10,
            d_canLoadMore: true,
        }
    },
    methods: {
        fetch() {
            this.d_loading.items = 1;
            trainings.fetch({
                with: ['image'],
                offset: this.d_items.length,
                limit: this.d_itemsPerPage,
                order_by: 'created_at:desc',
            }).then(response => {
                this.d_items = this.d_items.concat(response);
                this.d_canLoadMore = !(response.length < this.d_itemsPerPage);
                this.d_loading.items = 0;
            });
        },
    },
}
</script>

<style scoped
       lang="scss">

</style>
