<template>
    <div>
        <div class="h3">Редактор тренеров</div>
        <loading-component v-if="d_loading.model === LoadingStatus.Loading"/>
        <form class="w-100" v-else
              @submit.prevent="submit">
            <div class="text-right mb-3"
                 v-if="d_model.id">
                <button type="button" class="btn btn_link text-danger"
                        @click="handleDeleteBtn">Удалить тренера
                </button>
            </div>
            <div class="input">
                <label for="last-name">Фамилия</label>
                <input type="text" id="last-name"
                       v-model="d_model.lastName"/>
            </div>
            <div class="input">
                <label for="first-name">Имя</label>
                <input type="text" id="first-name" required
                       v-model="d_model.firstName"/>
            </div>
            <div class="input">
                <label for="first-name">Должность</label>
                <input type="text" id="position" required
                       v-model="d_model.position"/>
            </div>
            <v-wysiwyg class="mb-3" v-model="d_model.description"></v-wysiwyg>
            <div class="mb-3">
                <attach-area-component label="Выберите фотографию"
                                       v-model="d_model.image"/>
            </div>
            <request-errors :errors="d_errors"></request-errors>
            <loading-component v-if="d_loading.model == LoadingStatus.Submitting"/>
            <button class="btn btn_dark" type="submit" v-else-if="d_model.id">Применить изменения</button>
            <button class="btn btn_dark" type="submit" v-else>Создать</button>
        </form>
    </div>
</template>

<script>
import LoadingComponent from "../utils/LoadingComponent";
import {trainers} from "../../../api/admin";
import IntersectionObserver from "../utils/IntersectionObserver";
import VWysiwyg from "../utils/v-wysiwyg/VWysiwyg";
import RequestErrors from "../utils/RequestErrors";
import LoadingStatus from "../../../utils/LoadingStatus";
import AttachAreaComponent from "../utils/attachment/AttachAreaComponent";

export default {
    name: "TheTrainerEditor",
    components: {RequestErrors, AttachAreaComponent, VWysiwyg, IntersectionObserver, LoadingComponent},
    data() {
        return {
            LoadingStatus: LoadingStatus,
            d_loading: {
                model: null
            },
            d_model: {
                id: this.$route.params.trainerId,
                firstName: null,
                lastName: null,
                description: null,
                position: null,
                image: null,
            },
            d_errors: null
        }
    },
    created() {
        if (this.d_model.id) {
            this.d_loading.model = LoadingStatus.Loading;
            trainers.get(this.d_model.id, {
                with: ["image"],
            }).then(response => {
                this.$set(this, "d_model", response);
                this.d_loading.model = LoadingStatus.LoadingSuccess;
            });
        }
    },
    methods: {
        packRequest() {
            return {
                first_name: this.d_model.firstName,
                last_name: this.d_model.lastName,
                position: this.d_model.position,
                description: this.d_model.description,
                image_id: this.d_model.image ? this.d_model.image.id : null
            }
        },
        submit() {
            if (this.d_model.id) {
                this.update();
            } else {
                this.store();
            }
        },
        store() {
            this.d_loading.model = LoadingStatus.Submitting;
            trainers.store(this.packRequest())
                .then(response => {
                    this.d_loading.model = LoadingStatus.SubmittingSuccess;
                    this.$router.push({name: "trainers"});
                })
                .catch(errors => {
                    this.d_loading.model = LoadingStatus.SubmittingError;
                    this.d_errors = errors.data;
                });
        },
        update() {
            this.d_loading.model = LoadingStatus.Submitting;
            trainers.update(this.d_model.id, this.packRequest())
                .then(response => {
                    this.d_loading.model = LoadingStatus.SubmittingSuccess;
                    this.$router.push({name: "trainers"});
                })
                .catch(errors => {
                    this.d_loading.model = LoadingStatus.SubmittingError;
                    this.d_errors = errors.data;
                });
        },
        handleDeleteBtn() {
            let confirm = window.confirm("Вы уверены? Это действие невозможно отменить...");
            if (confirm) {
                this.d_loading.model = LoadingStatus.Submitting;
                trainers.destroy(this.d_model.id)
                    .then(res => {
                            this.$router.push({name: "trainers"});
                        }
                    );
            }
        },
    }
}
</script>

<style scoped lang="scss">

</style>
