@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary: rgba(#75FF69, 1);
$secondary: rgba(#E1FF29, 1);
//$dark: rgba(#3F3F3F, 1);
$dark: rgba(#1b1b1b, 1);

$base-font: 18px/160% Geometria, sans-serif;

$h1-font: 700 96px/100% Geometria, sans-serif;
$h1-font-sm: 700 48px/normal Geometria, sans-serif;
$h1-margin-bottom: 36px;

$h2-font: 700 64px/100% Geometria, sans-serif;
$h2-font-sm: 700 36px/normal Geometria, sans-serif;
$h2-margin-bottom: 32px;

$h3-font: 700 48px/100% Geometria, sans-serif;
$h3-font-sm: 700 24px/normal Geometria, sans-serif;
$h3-margin-bottom: 16px;

$h4-font: 700 24px/normal Geometria, sans-serif;
$h4-font-sm: 700 18px/normal Geometria, sans-serif;
$h4-margin-bottom: 6px;

$h5-font: 700 20px/normal Geometria, sans-serif;
$h5-font-sm: 700 18px/normal Geometria, sans-serif;
$h5-margin-bottom: 6px;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "dark": $dark,
);

$spacers: (
        7: ($spacer * 7),
        9: ($spacer * 9),
        10: ($spacer * 10),
);

$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xlg: 1600px,
);

@mixin respond-to($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    $next-breakpoint: nth(map_keys($breakpoints), index(map_keys($breakpoints), $breakpoint) + 1);

    $next-breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: $next-breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}