.block-header {
  display: flex;
  color: $primary;
  position: relative;

  margin-bottom: 50px;

  &::after {
    position: absolute;
    content: "";
    background: $primary;
    left: -1000%;
    right: 0;
    bottom: -18px;
    height: 10px;
  }

  .block-header__num {
    font-size: 128px;
    line-height: 60px;
    margin-right: 30px !important;
  }

  .block-header__sub {
    font-size: 24px;
    color: #ffffff;
  }

  @include respond-to(md) {
    .block-header__num {
      position: static;
      line-height: 40px;
      margin-right: 10px !important;
    }
    .block-header__sub {
      font-size: 18px;
      margin-top: -10px;
    }
  }
}

.block-header_right {
  flex-direction: row-reverse;
  align-self: flex-end;
  justify-content: space-between;

  .block-header__num {
    font-size: 128px;
    line-height: 60px;
    margin-right: 0;
    margin-left: 50px;
  }
  @include respond-to(md){
    width: fit-content;
  }

  &::after {
    right: -1000%;
    left: 0;
  }
}