@import "../variables";

.border_bottom {
  display: inline-flex;
  flex-direction: column;

  &:after {
    content: "";
    width: 100%;
    height: 10px;
    background: $dark;
    margin-top: 15px;
  }
}