@import "../variables";

.breadcrumbs {
  font-size: 14px;
  display: flex;
  list-style: none;
  padding-left: 0;
  color: #7b7b7b;

  > li {
    //color: #898989;
    text-decoration: none;
    padding: 0 15px;
    border-right: 1px solid #e2e2e2;

    a {
      color: inherit;
      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border-right: none;
    }
  }
}