.callback-submitted-conclusion {
  background-image: url(/images/submitted-form-bg.jpg);
  background-size: cover;
  color: white;
  padding: 120px 0;
  border: 1px solid black;
  text-align: center;

  .btn-close{
    position: absolute;
    top: 0;
    right: 0;
  }
}