.card-trainer {
    text-align: center;
    background: white;
    transition: box-shadow 0.3s linear;

    &:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        z-index: 2;

        .card-trainer__img {
            img {
                mask-size: auto 200%;
            }
        }

        .card-trainer__description {
            display: block;
            z-index: 5;
        }
    }


    .card-trainer__text {
        padding: 15px;
        position: relative;
    }

    .card-trainer__img {
        position: relative;
        height: 0;
        padding-top: 100%;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            mask: url('/images/mask-circle.svg');
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: auto 95%;
            transition: mask-size 0.15s linear;
        }
    }

    .card-trainer__name, .card-trainer__position {
        color: black;
        font-weight: 700;
    }

    .card-trainer__name {
        font-size: 24px;
    }

    .card-trainer__position {
        margin-bottom: 10px;
    }

    .card-trainer__description {
        position: absolute;
        font-size: 14px;
        text-align: left;
        display: none;
        background: linear-gradient(to bottom, white, #e0e0e0);
        line-height: 1.4;
        width: 100%;
        left: 0;
        padding: 15px;
    }
}
