.card-product {
    background: white;
    //transition: box-shadow 0.3s linear;
    text-align: center;

    &:hover {
        .card-product__text {
            background: white;
            border-radius: 15px;
            overflow: visible;
        }

        .card-product__description {
            display: block;
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }
    }


    .card-product__img {
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
            box-shadow: 0 30px 50px -30px black;
        }
    }

    .card-product__name {
        color: black;
        font-size: 24px;
        font-weight: 700;
    }

    .card-product__price {
        font-weight: 500;
    }

    .card-product__text {
        padding: 15px;
        position: relative;
    }

    .card-product__description {
        position: absolute;
        font-size: 14px;
        text-align: left;
        line-height: 1.4;
        z-index: 5;
        width: 100%;
        left: 0;
        padding: 15px;
        background: white;
        border-radius: 0 0 15px 15px;
        opacity: 0;
        transform: translateY(-50px);
        transition: all .2s;
        pointer-events: none;
    }
}
