@import "../variables";

.contacts-group {
  color: $primary;
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;
  }

  i {
    color: rgba(#1d1d1d, 1);
    vertical-align: middle;
    background: $primary;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    font-weight: 900;
    margin-right: 5px;
  }

  a {
    color: $primary;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  &.contacts-group__dark {
    color: $dark;
    font-weight: 500;

    i {
      color: white;
      background-color: $dark;
    }

    a {
      color: $dark;

      &:hover {
        color: black;
      }
    }
  }
}