@import '../variables';

.date-slider-wrap {
  position: relative;

  &:before {
    content: "";
    width: 20000px;
    left: -10000px;
    height: calc(100% + 5px);
    background: #1b1b1b;
    position: absolute;
  }
}

.date-slider {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.64);
  position: relative;

  &:after {
    content: "";
    background: linear-gradient(90deg, transparent, #1b1b1b);
    width: 30px;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
  }

  .swiper-slide {
    width: auto;
  }

  .date-slider-item {
    color: $dark;
    background: white;
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    text-decoration: none !important;
    border-right: 1px solid #0000001a;

    .date-slider-item__week-day {
      text-transform: uppercase;
      font-weight: 600;
    }

    .date-slider-item__week-date {

    }

    &.active {
      background: $primary;
    }

    &:hover {
      background: darken($primary, 10);
    }
  }
}
