@import "../variables";

.lined-header {
  position: relative;
  display: inline-flex;
  padding-bottom: 30px;
  align-items: center;

  span {
    font-size: 128px;
    vertical-align: middle;
    line-height: 110px;
    margin-right: 30px;
  }

  &:after {
    position: absolute;
    content: "";
    background: $dark;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 10000%;
  }

  &.text-primary {
    &:after {
      background-color: $primary;
    }
  }

  &.lined-header__right {
    span {
      margin-right: 0;
      margin-left: 30px;
    }

    &:after {
      left: 0;
      right: auto;
    }
  }
}