.progress-gallery {
    .progress-gallery__slide {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;

        @include respond-to(md) {
            grid-gap: 20px;
        }

        @include respond-to(sm) {
            grid-gap: 10px;
        }

        .progress-gallery__slide-img-wrap {
            padding-bottom: 100%;
            height: 0;
            position: relative;
        }

        .progress-gallery__slide-img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }
}

.progress-gallery__nav {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    .swiper-pagination-progress {
        height: 2px;
        width: 95%;
        background: #3F3F3F;
        //position: static;

        .swiper-pagination-progressbar-fill {
            background: $primary;
        }
    }

    .progress-gallery__button-prev, .progress-gallery__button-next {
        width: 24px;
        height: 44px;
        stroke: $primary;

        &:hover {
            cursor: pointer;
        }
    }

    .progress-gallery__button-next {
        margin-left: 60px;
    }

    .progress-gallery__button-prev {
        margin-left: 35px;
    }

    .progress-gallery__button-next.swiper-button-disabled {
        stroke: #3f3f3f;
    }

    .progress-gallery__button-prev.swiper-button-disabled {
        stroke: #3f3f3f;
    }
}
