.schedule-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.3;
    color: black;
    //border-radius: 4px;
    position: relative;
    background: white;
    min-height: 150px;

    .schedule-card__top {
        width: 100%;
        display: flex;
        z-index: 2;
        border: 1px solid #eceaea;

        .schedule-card__img {
            width: 50%;
            background-color: white;
            object-fit: cover;
        }

        .schedule-card__info {
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .schedule-card__time {
                font-size: 24px;
                font-weight: 700;
                white-space: nowrap;

                span {
                    font-size: 10px;
                    color: #c1c1c1;
                    vertical-align: top;
                    line-height: 22px;
                }
            }

            .schedule-card__class {
                font-weight: 700;
            }
        }
    }

    .schedule-card__description {
        width: 100%;
        padding: 10px;
        position: absolute;
        background: white;
        bottom: 0;
        //border-radius: 0 0 4px 4px;
        transform: translateY(0%);
        opacity: 0;
        transition: all 0.2s ease-in;
        box-shadow: 0 35px 30px -15px rgba(0, 0, 0, .2);
        border: 1px solid #eceaea;
        border-top: none;
        pointer-events: none;

        .btn {
            font-size: 12px;
        }
    }

    &:hover {
        //border-radius: 4px 4px 0 0;
        z-index: 5;

        img {
            border-radius: 4px 0 0 0;
        }

        .schedule-card__description {
            transform: translateY(100%);
            opacity: 1;
            pointer-events: auto;
        }
    }
}
