@import "../variables";

.swiper-pagination {
  position: static;

  .swiper-pagination-bullet {
    background: $dark;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #75ff69;
  }
}
