<template>
    <div class="attach-area"
         :class="{'attach-area_multiple': this.maxCount > 1}"
    >
        <input type="file" name="files[]"
               style="display: none;"
               ref="input"
               :multiple="maxCount > 1"
               :accept="this.accept"
               v-on:change="inputChanged">
        <button class="attach-area__attach-btn"
                type="button"
                v-on:dragover.prevent.stop
                v-on:drop.prevent="onDrop"
                v-on:click="onClick"
                v-if="c_canAttachMore">{{ label }}
            <span role="button" class="fal fa-external-link-alt attach-area__embed-btn"
                  v-if="allowEmbed && c_canAttachMore"
                  title="Встроить внешнее содержимое"
                  @click.stop="handleEmbedBtnClick"></span>
        </button>
        <div class="attach-area__items"
             :style="c_areaStyle"
        >
            <div class="attach-area__item"
                 v-for="(file, i) in d_value"
                 v-bind:key="i"
                 :style="c_itemStyle"
            >
                <loading-component size="20"
                                   v-if="file.isLoading"/>
                <attachment v-else
                            :attachment="file"
                            :width="thumbnailWidth"
                            :height="thumbnailHeight"
                            :gallery="maxCount > 1 ? d_galleryId : undefined"
                />
                <button type="button" class="attach-area-item-preview__delete btn-delete"
                        v-on:click.stop="removeFile(file)">&times;
                </button>
            </div>
        </div>
        <div class="attach-area__files-count" v-if="maxCount > 1">
            {{ c_statusMsg }}
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Attachment from "./Attachment";
import LoadingComponent from "../LoadingComponent";

export const params = {
    uploadUrl: "/ajax/files",
};

export default {
    name: "AttachAreaComponent",
    components: {Attachment, LoadingComponent},
    props: {
        uploadUrl: {default: params.uploadUrl},
        http: {
            default() {
                return axios;
            }
        },
        value: {
            default: null
        },
        maxCount: {default: 1},
        label: {default: "Выберите файлы или перенесите в это поле"},
        accept: {
            default() {
                return ["*.*"];
            }
        },
        params: {
            default() {
                return {}
            }
        },
        thumbnailWidth: {default: "100px"},
        thumbnailHeight: {default: "100px"},
        allowEmbed: {default: false},
        allowAlt: {default: false},
        d_galleryId: {
            default() {
                return Math.random().toString(36).substring(7);
            }
        },
    },
    watch: {
        value(val) {
            if (!val) {
                this.d_value = [];
                return;
            }

            this.d_value = Array.isArray(val) ? val : [].concat(val);
        }
    },
    data() {
        return {
            d_value: this.value ? [].concat(this.value) : []
        }
    },
    computed: {
        c_statusMsg() {
            let count = this.c_value.length;
            if (count > 4 && count < 20) {
                return `загружено ${count} файлов из ${this.maxCount}`;
            } else if (count % 10 === 1) {
                return `загружен ${count} файл из ${this.maxCount}`;
            } else if ([2, 3, 4].includes(count % 10)) {
                return `загружено ${count} файла из ${this.maxCount}`;
            } else {
                return `загружено ${count} файлов из ${this.maxCount}`;
            }
        },
        c_canAttachMore() {
            return (this.maxCount > 1 && this.d_value.length < this.maxCount) ||
                !this.d_value.length;
        },
        c_value() {
            if (this.maxCount > 1) {
                return this.d_value;
            } else {
                return this.d_value[0] || null;
            }
        },
        c_areaStyle() {
            return {
                minHeight: parseInt(this.thumbnailHeight) + "px",
                minWidth: parseInt(this.thumbnailWidth) + "px",
            }
        },
        c_itemStyle() {
            return {
                height: parseInt(this.thumbnailHeight) + "px",
                width: parseInt(this.thumbnailWidth) + "px",
            }
        },
    },
    methods: {
        inputChanged(event) {
            let inputFiles = event.target.files;
            this.handleFiles(inputFiles);
            event.target.value = "";
        },
        async handleFiles(files) {
            for (let i = 0; i < files.length; i++) {
                let file = files[i];

                if (!this.accept.includes("*.*")) {
                    let fileExtension = file.name.split(".").pop();
                    if (!this.accept.includes("." + fileExtension)) {
                        continue;
                    }
                }

                let attachFile = {
                    id: null,
                    isLoading: true
                };
                this.d_value.push(attachFile);
                const res = await this.uploadFile(file)
                let index = this.d_value.indexOf(attachFile);
                if (index >= 0) {
                    this.d_value.splice(index, 1, res);
                }

                this.$emit("input", this.c_value);
            }
        },
        onClick() {
            this.$refs["input"].click();
        },
        onDrop(event) {
            let dt = event.dataTransfer;
            this.handleFiles(dt.files);
            return false;
        },
        async uploadFile(file, type) {
            let formData = new FormData();
            formData.append("file", file);
            formData.append("type", type);
            for (let param in this.params) {
                formData.append(param, this.params[param]);
            }
            try {
                const res = await this.http.post(this.uploadUrl, formData, {humps: false});
                return res.data.data;
            } catch (e) {
                console.error(e);
            }
        },
        async handleEmbedBtnClick() {
            let url = window.prompt("Код для встраивания:");
            if (url) {
                let attachFile = {
                    id: null,
                    isLoading: true
                };
                this.d_value.push(attachFile);
                const res = await this.uploadFile(url, "embed");
                let index = this.d_value.indexOf(attachFile);
                if (index >= 0) {
                    this.d_value.splice(index, 1, res);
                }

                this.$emit("input", this.c_value);
            }
        },
        removeFile(file) {
            let index = this.d_value.indexOf(file);

            if (index < 0) return;

            this.d_value.splice(index, 1);
            if (!file.isLoading) {
                this.$emit("input", this.c_value);
                this.$emit("remove", file);
            }
        },
        updateAlt(file, toggle) {
            toggle();
            this.http.put(`${this.uploadUrl}/${file.id}`, {alt: file.alt});
        }
    }
}
</script>

<style scoped lang="scss">

.attach-area {
    background: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: 1px dashed #b7b7b7;
    border-radius: 7px;
    margin-bottom: 1rem;
    position: relative;
    flex-shrink: 0;

    &:hover {
        background: #0000000a;
    }
}

.attach-area_multiple {
    width: 100%;
}

.attach-area__attach-btn {
    background: none;
    border: none;
    outline: none !important;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: #949494;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

.attach-area__embed-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aab9ff;

    &:hover {
        color: #8181f9;
    }
}

.attach-area__items {
    position: relative;
    pointer-events: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    box-sizing: content-box;
}

.attach-area__item {
    background: #f3f3f3;
    border: 1px dashed #d6d6d6;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    .attach-area-item-preview__delete {
        color: rgb(255, 20, 20);
        position: absolute;
        top: -10px;
        right: -8px;
        border-radius: 50%;
        font-size: 18px;
        line-height: 1;
        width: 24px;
        height: 24px;
        outline: none !important;
        border: 1px solid #d9d9d9;
        box-shadow: 0 0 0 1px white;
        background: white;
        z-index: 5;

        &:hover {
            color: white;
            background: #ff1414;
            border: 1px solid white;
        }

        &:active {
            transform: scale(1.1);
        }
    }
}

.attach-area__item-dropdown {
    align-self: flex-start;
}

.attach-area__files-count {
    background: #e2e2e2;
    display: inline;
    color: #acacac;
    text-align: center;
    border-radius: 0 0 7px 7px;
    font-size: 12px;
    line-height: 20px;
}
</style>
