<template>
    <div class="attachment"
         @click.prevent="open"
    >
        <div class="attachment__thumbnail"
             :style="c_thumbnailStyle"
             v-if="c_isEmbed"
             v-html="attachment.url"
        ></div>
        <div class="attachment__thumbnail"
             :style="c_thumbnailStyle"
             :data-gallery="gallery"
             ref="thumbnail"
             v-else
        >
            <template v-if="c_thumbnail">
                <img :alt="attachment.alt"
                     v-if="lazy"
                     :data-src="attachment.url"
                     src="/images/loading.gif"
                     class="lazy"
                />
                <img v-else
                     :src="c_thumbnail"
                     :alt="attachment.alt"
                />
            </template>

            <template
                v-else
            >{{ c_extension }}
            </template>
        </div>
        <div class="attachment__name"
             v-if="showName"
        >{{ attachment.name }}
        </div>

        <transition-fade>
            <attachment-gallery v-if="d_expand"
                                :attachment="attachment"
                                :gallery="gallery"
                                @close="d_expand = false"
            />
        </transition-fade>
    </div>
</template>

<script>
import AttachmentGallery from "./AttachmentGallery";
import TransitionFade from "../transitions/TransitionFade";

export default {
    name: 'Attachment',
    components: {TransitionFade, AttachmentGallery},
    props: {
        attachment: {
            default() {
                return null;
            }
        },
        showName: {
            default() {
                return false;
            }
        },
        width: {
            default() {
                return '100%';
            }
        },
        height: {
            default() {
                return '100%';
            }
        },
        gallery: {
            default() {
                return Math.random().toString(32).substring(2);
            },
        },
        lazy: {
            default() {
                return false;
            },
        }
    },
    data() {
        return {
            d_expand: false,
            d_swiper: null,
            d_popup: null,
        }
    },
    computed: {
        c_isFile() {
            if (!this.attachment) return null;

            return !this.c_isEmbed && !this.c_isImg;
        },
        c_isImg() {
            if (!this.attachment) return null;

            return ['image/gif', 'image/jpeg', 'image/svg', 'image/svg+xml', 'image/png']
                .indexOf(this.attachment.type) > -1;
        },
        c_isEmbed() {
            if (!this.attachment) return null;
            return ['embed'].indexOf(this.attachment.type) > -1;
        },
        c_extension() {
            if (!this.attachment/* || !this.attachment.url*/) return null;

            let arr = this.attachment.url.split('.');
            return arr[arr.length - 1];
        },
        c_thumbnail() {
            if (!this.attachment) return null;

            if (this.attachment.thumbnail) {
                return this.attachment.thumbnail;
            } else if (this.c_isImg) {
                return this.attachment.url;
            }
            return null;
        },
        c_thumbnailStyle() {
            return {
                width: `${this.width}`,
                height: `${this.height}`,
            };
        },
    },
    mounted() {
        window.galleries = window.galleries || {};
        window.galleries[this.gallery] = window.galleries[this.gallery] || [];
        window.galleries[this.gallery].push(this.attachment);
        if (window.lazyLoad)
            window.lazyLoad.update();
    },
    destroyed() {
        const index = window.galleries[this.gallery].indexOf(this.attachment);
        if (index >= 0) {
            window.galleries[this.gallery].splice(index);
        }
        if (!window.galleries[this.gallery].length) {
            delete window.galleries[this.gallery];
        }
    },
    methods: {
        open() {
            if (this.c_isFile) {
                downloadFile(this.attachment.url, this.attachment.name);
                return;
            }

            this.d_expand = true;
        },
        hide() {
            if (this.d_swiper)
                this.d_swiper.destroy();
            this.d_expand = false;
        },
    }
}
</script>

<style scoped lang="scss">
.attachment {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    &:hover:before {
        opacity: 1;
    }

    &:hover:after {
        top: 0;
    }

    &:before {
        transition: opacity 0.3s;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        z-index: 1;
        border-radius: 10px;
    }

    &:after {
        transition: top 0.3s;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: url("/images/icons/zoom.svg") no-repeat center;
        background-size: 35px;
        z-index: 2;
    }
}

.attachment__name {
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.attachment__thumbnail:not(.attachment-popup__item) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #eeeeee;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #8575ff;
    box-shadow: 0 0 0 1px #dfdfdf;
    border-radius: 7px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &:before {
        content: "";
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.1s ease-in;
        opacity: 0;
    }

    ::v-deep iframe {
        width: 100% !important;
        height: 100% !important;
    }
}
</style>
