<template>
    <div class="attachment-gallery"
         @click.stop
    >
        <div class="attachment-gallery__bar">
            <div class="attachment-gallery__pagination"
                 v-if="c_attachments.length > 1"
            ></div>
            <button class="attachment-gallery__close"
                    @click="$emit('close')"
                    type="button"
            >
                &times;
            </button>
        </div>
        <div class="attachment-gallery__items swiper-container" ref="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide attachment-gallery__slide"
                     v-for="attachment in c_attachments"
                     :key="attachment.id"
                >
                    <img class="attachment-gallery__image"
                         v-if="attachment.type !== 'embed'"
                         :src="attachment.url"
                         :alt="attachment.alt"
                    />
                    <div class="attachment-gallery__embed"
                         v-else v-html="attachment.url"
                    ></div>
                </div>
            </div>
            <template v-if="c_attachments.length > 1">
                <div class="swiper-button swiper-button-prev fal fa-arrow-left"></div>
                <div class="swiper-button swiper-button-next fal fa-arrow-right"></div>
            </template>
        </div>
    </div>
</template>

<script>
import Swiper from 'swiper';

export default {

    name: 'AttachmentGallery',
    props: ['gallery', 'attachment'],
    computed: {
        c_attachments() {
            return window.galleries[this.gallery];
        },
    },
    data() {
        return {
            d_swiper: null,
            d_escListener: null,
        }
    },
    destroyed() {
        if (this.d_swiper)
            this.d_swiper.destroy();
        document.body.removeEventListener('keydown', this.onKeyPress)
    },
    mounted() {
        document.body.appendChild(this.$el);
        if (this.c_attachments && this.c_attachments.length > 1) {
            const activeSlideIndex = this.c_attachments.indexOf(this.attachment);
            this.d_swiper = new Swiper(this.$refs.slider, {
                initialSlide: activeSlideIndex,
                observer: true,
                pagination: {
                    el: '.attachment-gallery__pagination',
                    type: 'fraction',
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
        document.body.addEventListener('keydown', this.onKeyPress);
    },
    methods: {
        onKeyPress(event) {
            if (event.key === 'Escape') {
                this.$emit('close');
            }
        }
    }
}
</script>

<style scoped lang="scss">
.attachment-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000de;
    z-index: 100;
    color: white;
    cursor: default;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.attachment-gallery__bar {
    height: 40px;
    display: flex;
}

.attachment-gallery__close {
    background: none;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: transform .1s ease-in;
    outline: none !important;

    &:hover {
        transform: scale(1.3);
    }
}

.attachment-gallery__pagination {
    padding: 5px 5px 5px 10px;
}

.attachment-gallery__items {
    height: 100%;
    width: 100%;
}

.attachment-gallery__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment-gallery__image {
    //width: 100%;
    //height: 100%;
    //object-fit: contain;
}

.attachment-gallery__embed {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 30px;

    &::v-deep {
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.swiper-wrapper, .swiper-slide {
    height: 100%;
}
</style>
