@import "../variables";

footer {
  position: relative;

  @include respond-to(sm) {
    text-align: center;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }

  iframe, #map {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
  }

  .footer-inner-wrap {
    padding: 130px 0;
    background: rgba(19, 19, 19, 0.9);
    position: relative;

    transition: opacity 0.2s ease-in;
  }

  &.show-map {
    .footer-inner-wrap {
      opacity: 0;
      pointer-events: none;
    }
  }

  .map-toggle-on {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
  }
}