@import "../variables";

.navbar {
  padding: 30px 0;

  a {
    color: $dark;
    padding: 0 8px;

    &:hover {
      color: $primary;
      text-decoration: none;
    }

    &.active {
      color: $primary;
    }
  }

  .navbar__brand {
    font-size: 24px;
    font-weight: 800;
    align-items: center;
    display: flex;
    padding-left: 0;

    img {
      margin-right: 15px;
    }
  }

  .navbar__schedule {
    line-height: 1.3;
    text-align: left;
    font-size: 12px;
    border-right: 1px solid #d2d2d2;
    padding-right: 10px;
    color: #afafaf;

    @include respond-to(sm){
      border-top: 1px solid #d2d2d2;
      border-bottom: 1px solid #d2d2d2;
      border-right: 0;
      padding: 15px 0;
      margin: 15px 0;
      text-align: center;
    }
  }
}