@import "../variables";

.sidebar-page {
  display: flex;
  flex-grow: 1;

  aside.sidebar {
    width: 300px;
    flex-shrink: 0;
    background: #1b1b1b;
    z-index: 2;

    .sidebar__header {
      padding: 10px 15px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 12px;
      background: #101010;
      color: #313131;
      border-bottom: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          color: white;
          text-decoration: none !important;
          padding: 5px 15px;
          display: block;
          border-bottom: 1px solid #101010;

          &:hover {
            background: #212121;
          }

          &.router-link-active {
            color: $primary;
          }
        }
      }
    }
  }

  @include respond-to(sm) {
    flex-direction: column;

    aside.sidebar {
      width: 100%;
    }
  }

  .sidebar-page__content {
    width: 100%;
    padding: 15px;
    background: #f3f1f1;
    border-top: 1px inset #ffffff52;
  }
}