<template>
    <div class="training-finder">
        <div class="input mb-0">
            <label>{{label}}</label>
            <input v-model="searchField"
                   v-on:focus="isFocus=true"
                   v-on:blur="isFocus=false"
                   v-on:input="handleSearchInput"/>
            <loading-component class="loading-icon" size="18px"
                               v-if="loading"></loading-component>
        </div>
        <div v-if="isFocus">
            <ul class="list-unstyled"
                v-if="foundedItems">
                <template v-if="foundedItems.length>0">
                    <li v-for="item in foundedItems"
                        v-on:mousedown="handleItemClick(item)">
                        {{item.name}}
                    </li>
                </template>
                <li v-else>Не найдено</li>
            </ul>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import LoadingComponent from "./LoadingComponent";
    import {trainings} from "../../../api/admin";

    export default {
        name: "trainingFinder",
        components: {LoadingComponent},
        props: {
            value: '',
            label: {default: 'Название занятия'},
        },
        data() {
            return {
                searchField: this.value ? this.value.name : "",
                foundedItems: null,
                isFocus: false,
                loading: false
            }
        },
        watch: {
            value(val) {
                if (val && val.name) {
                    this.searchField = val.name;
                } else {
                    this.searchField = null;
                }
                this.foundedItems = null;
            },
        },
        methods: {
            handleSearchInput: debounce(function () {
                this.$emit('input', null);
                this.loading = true;
                trainings
                    .fetch({
                        filters: [['name', 'like', `%${this.searchField}%`, 'and']],
                        limit: 10
                    })
                    .then(found => {
                        this.loading = false;
                        this.foundedItems = found;
                    });
            }, 300),
            handleItemClick(item) {
                this.$emit('input', item);
            }
        }
    }
</script>

<style scoped lang="scss">
    .training-finder {
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
        background: rgb(211, 211, 211);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 0;
        position: absolute;
        width: 100%;
        box-shadow: 4px 13px 14px #0000001a;
        z-index: 2;
        border-radius: 0 0 4px 4px;

        li {
            padding: 7px 15px;
            cursor: pointer;

            &:hover {
                background: #cccccc;
            }
        }

    }

    .training-finder__wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .loading-icon {
        position: absolute;
        right: 0;
        bottom: 9px;
        width: 45px;
    }

</style>